<!DOCTYPE html>
<html ng-app="GameApp">

    <head>
        <title>TravelApp</title> 
    </head>

    <body>

        <div class="login-container">

            <div class="container">
                <div class="row">
                    <div class="col form-group">
                        <input type="text" class="form-control" placeholder="Hotel URL (from Booking)" ng-model="hotelsUrl" />
                        <div class="row">
                            <a href="https://www.booking.com/" class="correct-url" target="_blank">Don't you know what is the correct hotel URL? Click here.</a>
                        </div>
                    </div>
                    <div class="col form-group">
                        <input type="text" class="form-control" placeholder="Attractions URL (from TripAdvisor)" ng-model="attractionsUrl" />
                        <div class="row">
                            <a href="https://www.tripadvisor.com/Attractions" class="correct-url" target="_blank">Don't you know what is the correct attractions URL? Click here.</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group">
                        <button type="button" class="btn btn-secondary btn-lg btn-block button" ng-click="onAddNewPlaceClicked()">Agregar</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <table class="table table-hover table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Lugares</th>
                            </tr>
                        </thead>
                        
                        <tbody ng-repeat="place in placesToCompare">
                            <tr>
                                <td>{{place}}</td>
                            </tr>
                        </tbody>

                    </table>
                </div>

                <div class="col-md-6">
                    <table class="table table-hover table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Criterios</th>
                            </tr>
                        </thead>
                        
                        <tbody ng-repeat="criteria in criterias">
                            <tr>
                                <td>{{criteria}}</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

        <div class="container">
            <button type="button" class="btn btn-secondary btn-lg btn-block" ng-click="onSaveTableClicked()">Avanzar</button>
        </div>

    </body>

</html>