<!DOCTYPE html>
<html ng-app="GameApp">

    <head>
        <title>TravelApp</title> 
    </head>

    <body>
        <div class="container container-ta">
            <div class="row">
                <div class="col form-group">
                    <input type="text" class="form-control" placeholder="Hotel URL (from Booking)" ng-model="hotelsUrl" />
                    <div class="row">
                        <a href="https://www.booking.com/" class="correct-url" target="_blank">Don't you know what is the correct hotel URL? Click here.</a>
                    </div>
                </div>
                <div class="col form-group">
                    <input type="text" class="form-control" placeholder="Attractions URL (from TripAdvisor)" ng-model="attractionsUrl" />
                    <div class="row">
                        <a href="https://www.tripadvisor.com/Attractions" class="correct-url" target="_blank">Don't you know what is the correct attractions URL? Click here.</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    <button type="button" class="btn btn-secondary btn-lg btn-block button" ng-click="onAddNewPlaceClicked()">Agregar</button>
                </div>
            </div>
        </div>
        <div class="new-search-container">
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-hover table-bordered table-ta">
                        <thead class="palette-dark">
                            <tr>
                                <th scope="col">Lugares</th>
                            </tr>
                        </thead>
                        
                        <tbody ng-repeat="place in placesToCompare">
                            <tr>
                                <td>{{place.name}}</td>
                            </tr>
                        </tbody>

                    </table>
                </div>

                <div class="col-md-6">
                    <table class="table table-hover table-bordered table-ta">
                        <thead class="palette-dark table-border">
                            <tr>
                                <th scope="col">Criterios</th>
                            </tr>
                        </thead>
                        
                        <tbody ng-repeat="criteria in criterias">
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col-md-9">{{criteria.name}}</div>
                                        <div class="col-md-3">
                                            <button type="button" class="btn btn-secondary" ng-click="onDeleteCriteriaClicked($index)">Eliminar</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>

            <div class="row">
                <table id="rankCriteriaTable" class="table table-hover table-bordered table-ta">
                    <thead class="palette-dark">
                      <tr>
                        <th scope="col">Places / Criterias</th>
                        <th scope="col" ng-repeat="criteria in criterias">
                            {{criteria.name}}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="criteria in criterias">
                            <th scope="row" ng-init="colIndex = $index">{{criteria.name}}</th>
                            <td ng-repeat="criteria in criterias">
                                <div class="dropdown">

                                    <select ng-if="colIndex === $index" class="form-control" disabled>
                                        <option value="{{null}}">Same importance</option>
                                    </select>
                                      
                                    <select ng-if="colIndex !== $index" class="form-control">
                                        <option ng-repeat="rankCriteria in rankCriterias" value="{{rankCriteria.factor}}">{{rankCriteria.description}}</option>
                                    </select>

                                </div>
                            </td>
                        </tr>
                    </tbody>
                  </table>
            </div>
        </div>

        <div class="container">
            <button type="button" class="btn btn-secondary btn-lg btn-block" ng-click="onGetTableContentClicked()">Get table content</button>
        </div>

        <div class="container">
            <button type="button" class="btn btn-secondary btn-lg btn-block" ng-show="showRunAlgorithmButton" ng-click="onRunAlgorithmClicked()">Run algorithm</button>
        </div>

    </body>

</html>