<!DOCTYPE html>
<html ng-app="GameApp">

    <head>
        <title>TravelApp</title> 
    </head>

    <body>
        <section class="pricing py-5">
            <div class="container">
                <div class="row">
                    
                    <!-- Free Tier -->
                    <div class="col-lg-6 tier-body">
                        <div class="card mb-5 mb-lg-0">
                            <div class="card-body tier-container">
                                <h6 class="card-price text-uppercase text-center">Historial</h6>
                                <hr>

                                <p> Donde podes ver: </p>
                                
                                <ul class="fa-ul">
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>
                                        Todas tus búsquedas realizadas
                                    </strong></li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>
                                        Los lugares seleccionados
                                    </strong></li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>
                                        Los criterios a comparar
                                    </strong></li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>
                                       La lista de conveniencia ordenada del más al menos conveniente.
                                    </strong></li>
                                </ul>
                            
                                <a href="#" class="btn btn-block btn-primary text-uppercase">Ir</a>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Plus Tier -->
                    <div class="col-lg-6 tier-body">
                        <div class="card mb-5 mb-lg-0">
                            <div class="card-body tier-container">
                                <h1 class="card-price text-uppercase text-center">Nueva búsqueda</h1>
                                <hr>

                                <p> Donde podes: </p>
                                
                                <ul class="fa-ul">
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Seleccionar distintos lugares del pais</strong></li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Seleccionar distintos criterios a comparar</strong></li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Encontrar los sitios más convenientes a partir de los criterios seleccionados previamente</strong></li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Agregar nuevos sitios para analizar</strong></li>
                                </ul>
                                <a href="/#!/new-search" class="btn btn-block btn-primary text-uppercase">Ir</a>
                            </div>
                        </div>
                    </div>
                        
                    
                </div>
            </div>
        </section>      
    </body>

</html>