.loading-container{
    position: relative !important;
}


.login-container{
    margin-top: 4%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
}
.login-logo{
    position: relative;
    margin-left: -41.5%;
}
.login-logo img{
    position: absolute;
    width: 125px;
    margin-top: 13%;
    background: #23374d;
    border-radius: 4.5rem;
    padding: 5%;
}
.login-form-1{
    padding: 9%;
    background:#23374d;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.error-field {
    color:#eeeeee;
    font-size: small;
}

.login-form-1 h3{
    text-align: center;
    margin-bottom:12%;
    color:#fff;
}
.login-form-2{
    padding: 9%;
    background: #1089ff;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    margin-bottom:12%;
    color: #fff;
}
.btnSubmit{
    font-weight: 600;
    width: 50%;
    color: #23374d;
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
    padding:2%;
}
.btnForgetPwd{
    color: #eeeeee;
    font-weight: 600;
    text-decoration: none;
}
.btnForgetPwd:hover{
    text-decoration:none;
    color:#eeeeee;
}

.table td {
    text-align: center;
    border: 1pt solid black;
}

.table th {
    text-align: center;
}

.correct-url {
    margin-left: 11%;
}

#sticky-footer {
  flex-shrink: none;
}


footer {
    position: absolute;
    right: 0;bottom:0;left:0;
}

.palette-dark {
    background-color: #23374d !important;
    color: #fff;
}

body {
    background-color: #eeeeee;
}


.form-control-ta {
    background-color: #eeeeee;
}

.container-ta {
    background-color: #e5e5e5;
    width: 100%;
    max-width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 1%;
}


.table-ta{
    background-color: #fff;
}

.table-bordered td, .table-bordered th {
    border: none;
}


.new-search-container{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
}

.dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
  }

.optionGroup {
    font-weight: bold;
    font-style: italic;
}
    
.optionChild {
    padding-left: 15px;
}